<!-- including the _base.html templates -->
{% extends 'components/_base.html' %}
{%block title%} {{ community.community_name }} {%endblock%}
{%block content%}
    <h1>Dashboard</h1>
    <p>welcome to your Dashboard</p>
{%endblock%}
