<!-- including the _base.html templates -->
{% extends 'components/_base.html' %} {%block title%} {{ form_page_name }} {%endblock%}
<!-- referring to the block in base.html -->
{% block content %}
<!-- signup form  -->
<div class="container">
    <h1 class='section_header'>{{ form_page_name }}</h1>
    <div id='form_section'>
        <form action="" method="POST" class="post-form">
            {% csrf_token %}
            <!-- Django will take care of spiting the form. -->
            {{ form.as_p }}
            <button type="submit" class="btn-large waves-effect waves-light {{ community.site_theme_text }}">Create account</button>
        </form>
    </div>
</div>
{% endblock %}