<!-- including the _base.html templates -->
{% extends 'components/_base.html' %} {%block title%} {{ community.community_name }} {%endblock%}
<!-- referring to the block in base.html -->
{% block content %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <br>
        <h1 class="header center">Administrator Panel</h1>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center">
                        <i class="fas fa-pen-square"></i>
                    </h2>
                    <h5 class="center">Draft Mail</h5>
                    <p class="adminItemDesc">
                        Draft Mails to send to all the community members who have subscribed to receive updates.
                    </p>
                    <div style='position: relative;'>
                        <a id="ctaBtn" class="btn waves-effect waves-light {{ community.site_theme_text }}" href="{% url 'draft' %}">Draft</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center">
                        <i class="fas fa-video"></i>
                    </h2>
                    <h5 class="center">History</h5>
                    <p class="adminItemDesc">
                        List of mails send to users.
                    </p>
                    <div style='position: relative;'>
                        <!-- <a id="ctaBtn" class="btn waves-effect waves-light {{ community.site_theme_text }}" href="{% url 'draft' %}">FOSS</a> -->
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center">
                        <i class="fas fa-credit-card"></i>
                    </h2>
                    <h5 class="center">something</h5>
                    <p class="adminItemDesc">
                        something
                    </p>
                    <div style='position: relative;'>
                        <!-- <a id="ctaBtn" class="btn waves-effect waves-light {{ community.site_theme_text }}" href="{% url 'draft' %}">FOSS</a> -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %}